.nav{
    display: flex;
}
.g-10{// tại sao lại sử dụng gap như này
    gap:20px;
}
.text-decoration-none{
    text-decoration: none;
}
.list-style-type-none{
    list-style-type: none;
}
.header{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.txt-black{ //Khong len co cai class nay
           
    color:black;
}
.bg-blue{
background-color:blue;
}
