.container{
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
    background-color: #64606050;
}
.sub-container{
    background-color: #fff6f67b;
padding: 50px;
border-radius: 20px;
box-sizing: border-box;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.text-align-center{
    text-align: center;
}
.form-title{
    font-weight: 600;
    font-size:20px;
}
.form-label{
    font-weight: 200;
    font-size: 14px;
}
.form-input{
    max-width: 200px;
    width: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 15px;
    background-color: transparent;
}
.mb-0{
    margin-bottom: 0px;
}
.w-100{
    width: 100%;
}